
<div class="border border-dark border-5">
  <div class="text-center">
    <span class="border border-dark border-5">
      <img class="borders border-5 mt-5 mb-3" width="200" <%=image_tag("JoelLW 2.jpg")%>
    </span>
  </div>

  <div class="container">
    <div class="text-center">
      <h1 class="intro-text"><span>I'm Joel. I make web apps with <span class="special-green">Ruby on Rails</span><span>, </span><span class="special-green">Javascript</span>, & <span class="special-green">CSS</span>. I also write <span class="special-green">articles</span><span> on </span><span class="special-green">software development</span><span>.</span></h1>
    </div>
  </div>
  <hr>
  <div class="text-center">
  <p>I create articles for aspiring developers.</p>
  </div>

  <div class="container mb-2">
      <h5>Recent Articles</h5>
      <%= link_to "view all ->", posts_path, class: "btn btn-dark" %>
    </div>

  <div class="card-group">
    <% Post.limit(3).each do |post| %>
      <div class="card border-dark border-5">
        <img class="card-img-top" width="200" <%=image_tag("yoga.png")%>
        <h2 class="card-title"> <%= post.title %> </h2>
        <%# <p class="card-text"> <%= post.body %>
        <div class="card-footer">
        <small class="text-muted">Last updated <%= time_ago_in_words(post.updated_at) %> ago</small>
        </div>
      </div>
    <% end %>
  </div>
</div>


  <%# <div class="card-group">
    <div class="card border-dark border-5">
      <img class="card-img-top" width="200" <%=image_tag("yoga.png")%>
      <%# <div class="card-body">
        <h5 class="card-title">Yoga for coders</h5>
        <p class="card-text">14 Yoga Poses That Promise Soothing Relief If You're Hunched Over a Computer All Day</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div> %>



    <%# <%= link_to "About Me", about_path, class: "btn btn-secondary" %>
