
<div class="text-center">
    <img class="border border-dark border-5 mt-5 mb-3" width="200" <%=image_tag("JoelLW 2.jpg")%>
</div>

<div class="card-group">
   <div class="text-center">
      <h5>I'm Joel. I make web applications.</h5>
    </div>
</div>
<div class="text-center">
  <p>I create articles for aspiring developers.</p>
</div>

 <div class="container mb-2">
    <h5>Recent Articles</h1>
    <%= link_to "view all ->", posts_path, class: "btn" %>
  </div>

<div class="card-group">
  <% Post.limit(3).each do |post| %>
    <div class="card border-dark border-5">
      <img class="card-img-top" width="200" <%=image_tag("yoga.png")%>
      <h2 class="card-title"> <%= post.title %> </h2>
      <%# <p class="card-text"> <%= post.body %>
       <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  <% end %>
</div>


  <%# <div class="card-group">
    <div class="card border-dark border-5">
      <img class="card-img-top" width="200" <%=image_tag("yoga.png")%>
      <%# <div class="card-body">
        <h5 class="card-title">Yoga for coders</h5>
        <p class="card-text">14 Yoga Poses That Promise Soothing Relief If You're Hunched Over a Computer All Day</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div> %>



    <%# <%= link_to "About Me", about_path, class: "btn btn-secondary" %>
