<div class="container text-center mt-5 pt-2">
  <h1 class="my-2 pb-2"><strong>Portfolio</strong></h1>
  <p> Here are a few of my past projects:</p>
</div>

<div class="card-container">
  <a href="http://www.woofpal.xyz/" class="card-link">
    <div class="p-card">
      <img src="<%= asset_path('Woofpal Banner.jpeg') %>" alt="Image 1">
      <img src="<%= asset_path('woof-bg.jpeg') %>" alt="Image 1" class="hover-image">
    </div>
  </a>
  <a href="http://www.shareadog.net/" class="card-link">
    <div class="p-card">
      <img src="<%= asset_path('Share-a-Dog-Banner.jpeg') %>" alt="Image 2">
      <img src="<%= asset_path('share-bg.jpeg') %>" alt="Image 2" class="hover-image">
    </div>
  </a>
</div>

<br>
<footer>
<%= render 'layouts/footer' %>
</footer>
