<div class="col-xs-12 col-sm-6 col-lg-4 col-sm-offset-1">
  <div class="card mb-3">
    <%# <%= image_tag @post.photo, class: "img-fluid mb-3", height: 600, width: 1200, crop: :fill %>
    <%= cl_image_tag @post.photo.key, class: "img-fluid mb-3", height: 600, width: 1200, crop: :fill %>
    <div class= "card-body">
      <h2 class="card-title"><%= post.title %></h2>
      <div class="text-end">
        <h4> by <%= link_to post.user.name, user_path(post.user), class:"black" %></h4>
        <h6><%= pluralize(post.views, "view") %></h6>
      </div>
    </div>
  </div>
</div>
