  <div class="col">
    <div id="<%= dom_id post %>">
      <div class="card" style="width: 300px">
        <img <%=image_tag("yoga.png")%>
        <div class="card-body">
          <h2 class="card-title"><%= post.title %></h2>
          <h4> by <%= link_to post.user.name, user_path(post.user) %></h4>
          <h6><%= pluralize(post.views, "view") %></h6>
          <div class="card-text">
            <%= post.body %>
          </div>
            <a href="<%= dom_id post %>" class="btn btn-primary stretched-link">View Article</a>
        </div>
      </div>
    </div>
  </div>
