<div class="container mt-5">
  <h1 class="text-center mb-4 mt-3"><strong>Articles</strong></h1>
  <div class="mb-3">
    <%= render 'search/form' %>
  </div>
  <br>
  <div class="container-fluid pe-0">
    <div class="row mx-5">
      <div class="col-lg-12">
        <div class="row">
          <% @posts.each do |post| %>
          <div class="col-xs-12 col-sm-6 col-lg-4 col-sm-offset-1">
            <div class="card mb-3">
              <img id="image_show" <%= image_tag url_for(post.photo) %>
              <div class= "card-body mb-0">
                <h2 class="text-center"><%= post.title %></h2>
                <h4 class="text-center fs-6 text-muted"> by <%= link_to post.user.name, user_path(post.user), class:"black" %></h4>
                <div class="text-center">
                  <%= link_to "View Article", post_path(post.id), class: 'btn btn-dark stretched-link btn-sm' %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div class="text-center mb-5">
      <%= link_to "Back", root_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
