<nav class="navbar fixed-top navbar-expand-sm p-4">
  <div class="container-fluid">
    <i class="fa-regular fa-sun px-3"></i>
    <%= link_to "joelpickell.com", root_path, class:'navbar-brand pb-1 pl-3'%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-3 mb-0 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class:'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to "Blog", posts_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Portfolio", portfolio_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <a href="https://github.com/Guavalines" class="white px-2">Github</a>
        </li>
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/joelpickell/" class="white px-2">Linkedin</a>
        </li>
      </ul>
      <%# <ul class="navbar-nav">
        <%= render 'layouts/notifications' %>
        <%# <%= render 'user/session_manager' %>
      <%# </ul> %>
    </div>
  </div>
</nav>
<div id="nav-bottom-decor-0">
  <span> </span>
</div>
<div id="nav-bottom-decor-1">
  <span> </span>
</div>
<div id="nav-bottom-decor-2">
  <span> </span>
</div>
<div id="nav-bottom-decor-3">
  <span> </span>
</div>
<div id="nav-bottom-decor-4">
  <span> </span>
</div>
